# Entornos virtuales
venv/
env/

# Archivos de datos grandes
*.csv
*.db
data/*
!data/.gitkeep
!data/*.dvc
!data/.gitignore    

# Configuración sensible
.env

# Salidas de notebooks
.ipynb_checkpoints/

#Modelos
models/

__pycache__/
*.pyc